# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.local
.env.*.local

VITE_EMAILJS_SERVICE_ID='service_hd86s8u'
VITE_EMAILJS_TEMPLATE_ID='template_j3coymn'
VITE_EMAILJS_PUBLIC_KEY='lHy_pgd-sj9FMIz9B'

